.HeaderNav {
    padding: 70px;
    box-shadow: 5px 10px 8px #635f5f;
    padding-bottom: 30px;
    /* background-color: rgba(29, 27, 27, 0.829); */
    background-color: white;
    width: 100%;
    
    
    
    
    
}


.Navlink_2{
    display: block;
    /* color: white; */
    color: white;
    text-align: center;
    padding: 9px 48px;
    font-size: 25px;
    float: right;
    text-decoration: none;
    margin-top: -39px;
    border: 3px solid gold;
    border-radius: 37px;
    margin-left: 35px;
}



.logo{
    display: block;
    color: rgba(48, 39, 179, 0.637);
    text-align: center;
    padding: 12px 14px;
    font-size: 45px;
    float: left;
    margin-top: -58px;
    font-weight: bolder;
    font-weight: 700;
    letter-spacing: 4px;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
		background: linear-gradient(to right, #e72a3a 10%, #fff 50%, #5bdaff 60%);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: rgb(7, 6, 6);
		background-clip: text;
		/* text-fill-color: transparent; */
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 1.5s linear infinite;
    }

    @keyframes textclip {
        to {
            background-position: 200% center;
        }
    }

    


  



  